$color_wht: #fff;
$color-blk: rgba(0,0,0,.6);
$color-gry: rgba(255,255,255,.05);
$color-p-gry: rgba(255,255,255,.01);
$color-grad: linear-gradient(to top, #09203f 0%, #537895 100%);
body{
  background:$color-grad;
}
header{
  position: fixed;
  z-index: 99;
  width: 100%;
  line-height: 40px;
  clear: both;
  color: $color_wht;
  li{
    padding: 5px;
    a{
      border-right: 1px solid $color_wht;
      padding-right: 10px;
      color: $color_wht;
    }
  }
}
main{
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  .mainvisual{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .contains{
      position: relative;
      margin-top: 40px;
      color: $color_wht;
      .logo{
        font-size: 80px;
        line-height: 1;
        font-weight: bold;
        margin: 0;
      }
      @media all and (min-width:768px){
        .logo{
          font-size: 150px;
        }
      }
      .detail{
        display: block;
        margin: 20px 0;
      }
    }
    p{
      font-size: 30px;
    }
    #bg-video {
      position:absolute;
      right:0;
      bottom:0;
      min-width:100%;
      min-height:100%;
      width:auto;
      height:auto;
      z-index:-1;
    }
    .overlay{
      background:url('../../assets/images/dot_ptn10-30.png') repeat ;
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      top: 0;
      .mv_map{
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 0;
      }
      @media all and (min-width:768px){
        .mv_map{
          bottom: 60px;
          right: 40px;
          width: 50%;
        }
      }
    }
  }
  article{
    padding: 20px;
    width: 100%;
    color: $color_wht;
    ul{
      padding: 0;
    }
    li{
      list-style: none;
      padding: 6px 0 4px;
    }
    .stripe>li:nth-child(2n-1){
      background-color: $color-gry;
    }
    .stripe>li:nth-child(2n){
      background-color: $color-p-gry;
    }
  }
  @media all and (min-width:768px){
    article{
      padding: 40px;
    }
  }
  #about{
    @media all and (min-width:768px){
      .detail{
        max-width: 480px;
      }
    }
  }
  #contents{

  }
  #contact{
    h1{
      text-align: center;
      margin: 0.67em 0 1.1em;
    }
  }
}
