.mainvisual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.mainvisual p {
  font-size: 29px;
}

.mainvisual #bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

.mainvisual .overlay {
  background: url("../../assets/images/dot_ptn10-30.png") repeat;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.mainvisual .overlay .mv_map {
  position: absolute;
  bottom: 60px;
  right: 40px;
  width: 50%;
  height: auto;
}
