body {
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  font-size: 14px;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
  line-height: 40px;
  clear: both;
  color: #fff;
}

header .menu-no-mobile {
  display: none;
}

@media all and (min-width: 769px) {
  header .menu-no-mobile {
    display: inline;
  }
}

header a:hover {
  color: #42cbd4;
  text-decoration: underline;
}

header li {
  padding: 5px;
}

header li a {
  border-right: 1px solid #fff;
  padding-right: 10px;
  color: #fff;
}

main {
  z-index: 10;
  font-family: 'Poppins', sans-serif;
}

main .mainvisual {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

main .mainvisual .contains {
  position: relative;
  margin-top: 40px;
  color: #fff;
}

main .mainvisual .contains .logo {
  font-size: 80px;
  line-height: 1;
  font-weight: bold;
  margin: 0;
}

@media all and (min-width: 769px) {
  main .mainvisual .contains .logo {
    font-size: 150px;
  }
}

main .mainvisual .contains .detail {
  display: block;
  margin: 20px 0;
}

main .mainvisual p {
  font-size: 30px;
}

main .mainvisual .mainvisual-bg-pc {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  display: none;
}

main .mainvisual .mainvisual-bg-sp {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  width: 100%;
  height: auto;
  z-index: -1;
  display: block;
}

@media all and (min-width: 769px) {
  main .mainvisual .mainvisual-bg-pc {
    display: block;
  }
  main .mainvisual .mainvisual-bg-sp {
    display: none;
  }
}

main .mainvisual .overlay {
  background: url("../../assets/images/dot_ptn10-30.png") repeat;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0;
}

main .mainvisual .overlay .mv_map {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 14px;
}

@media all and (min-width: 769px) {
  main .mainvisual .overlay .mv_map {
    bottom: 60px;
    right: 40px;
    width: 50%;
  }
}

main .mainvisual a.link-entry-form {
  padding: 20px 40px;
  border-radius: 0px;
  background: rgba(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  left: 24px;
  top: 50px;
  position: relative;
  z-index: 80;
  font-size: 20px;
}

main .mainvisual a.link-entry-form:hover {
  background: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  text-decoration: none;
}

@media all and (min-width: 769px) {
  main .mainvisual a.link-entry-form {
    border: 1px solid #fff;
    color: #fff;
    background: none;
    font-weight: normal;
    border-radius: 5px;
  }
}

main article {
  padding: 20px;
  width: 100%;
  color: #fff;
  clear: both;
}

main article ul {
  padding: 0;
}

main article li {
  list-style: none;
  padding: 6px 0 4px;
}

main article .stripe > li:nth-child(2n-1) {
  background-color: rgba(255, 255, 255, 0.05);
}

main article .stripe > li:nth-child(2n) {
  background-color: rgba(255, 255, 200, 0.01);
}

main article h3 {
  margin: 30px 0 20px;
}

@media all and (min-width: 769px) {
  main article {
    padding: 40px;
  }
}

main #about .image {
  width: 100%;
}

main #about .yoshikai-robo {
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  max-width: 250px;
  margin: auto;
}

@media all and (min-width: 769px) {
  main #about .detail {
    width: 33.3%;
  }
}

@media all and (min-width: 769px) {
  main #contents {
    width: 66.6%;
    float: right;
  }
  main #contents .detail {
    width: 50%;
    float: left;
  }
}

main #timetable .detail li > ul {
  margin-left: 60px;
}

@media all and (min-width: 769px) {
  main #timetable {
    width: 33.3%;
    float: right;
  }
}

main #entry h1 {
  text-align: center;
  margin: 0.67em 0 1.1em;
}

footer {
  padding: 10px;
  font-size: 12px;
  color: #fff;
}
