$color_wht: #fff;
$color-blk: rgba(0,0,0,.6);
$color-blk: rgba(0,0,0,.6);
$color-gry: rgba(255,255,255,.05);
$color-p-gry: rgba(255,255,200,.01);
$color-grad: linear-gradient(to top, #09203f 0%, #537895 100%);
$break: 769px;
body{
  background:$color-grad;
  font-size: 14px;
}
header{
  position: fixed;
  z-index: 99;
  width: 100%;
  line-height: 40px;
  clear: both;
  color: $color_wht;
  .menu-no-mobile{
    display: none;
  }
  @media all and (min-width:$break){
    .menu-no-mobile{
      display: inline;
    }
  }
  a:hover {
    color: #42cbd4;
    text-decoration: underline;
  }
  li{
    padding: 5px;
    a{
      border-right: 1px solid $color_wht;
      padding-right: 10px;
      color: $color_wht;
    }
  }
}
main{
  z-index: 10;
  font-family: 'Poppins', sans-serif;
  .mainvisual{
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 590px;
    overflow: hidden;
    .contains{
      position: relative;
      margin-top: 40px;
      color: $color_wht;
      .logo{
        font-size: 80px;
        line-height: 1;
        font-weight: bold;
        margin: 0;
      }
      @media all and (min-width:$break){
        .logo{
          font-size: 150px;
        }
      }
      .detail{
        display: block;
        margin: 20px 0;
      }
    }
    p{
      font-size: 30px;
    }
    .mainvisual-bg-pc {
      position:absolute;
      right:0;
      bottom:0;
      min-width:100%;
      min-height:100%;
      width:auto;
      height:auto;
      z-index:-1;
      display: none;
    }
    .mainvisual-bg-sp{
      position:absolute;
      right:0;
      bottom:0;
      min-width:100%;
      min-height:100%;
      width:100%;
      height:auto;
      z-index:-1;
      display: block;
    }
    @media all and (min-width:$break){
      .mainvisual-bg-pc {
        display: block;
      }
      .mainvisual-bg-sp {
        display: none;
      }
    }
    .overlay{
      background:url('../../assets/images/dot_ptn10-30.png') repeat ;
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 100%;
      top: 0;
      .mv_map{
        position: absolute;
        width: 100%;
        height: auto;
        bottom: 0px;
      }
      @media all and (min-width:$break){
        .mv_map{
          bottom: 30px;
          right: 40px;
          width: 50%;
        }
      }
    }
    a.link-entry-form{
      padding: 20px 40px;
      border-radius:0px;
      background: rgba(255,255,255,.6);
      color: $color-blk;
      font-weight: bold;
      left: 24px;
      top: 50px;
      position: relative;
      z-index: 80;
      font-size: 20px;
    }
    a.link-entry-form:hover{
      background: $color_wht;
      color: $color-blk;
      font-weight: bold;
      text-decoration: none;
    }
    @media all and (min-width:$break){
      a.link-entry-form{
        border:1px solid $color_wht;
        color:$color_wht;
        background: none;
        font-weight: normal;
        border-radius:5px;
      }
    }
  }
  article{
    padding: 20px;
    width: 100%;
    color: $color_wht;
    clear:both;
    ul{
      padding: 0;
    }
    li{
      list-style: none;
      padding: 6px 0 4px;
    }
    .stripe>li:nth-child(2n-1){
      background-color: $color-gry;
    }
    .stripe>li:nth-child(2n){
      background-color: $color-p-gry;
    }
    h3{
      margin: 30px 0 20px;
    }
  }
  @media all and (min-width:768px){
    .mainvisual{
      height: 100vh;
      max-height: 100vh;
    }
  }
  @media all and (min-width:$break){
    article{
      padding: 40px;
    }
  }
  #about{
    .image{
      // margin-top: 20px;
      // opacity:.3;
      width: 100%;
    }
    .yoshikai-robo{
      border-radius: 50%;
      overflow: hidden;
      width: 100%;
      height: 100%;
      margin-top: 20px;
      max-width: 250px;
      margin:auto;
    }
    @media all and (min-width:$break){
      .detail{
        width: 33.3%;
      }
    }
  }
  #contents{
    @media all and (min-width:$break){
      width: 66.6%;
      float: right;
      .detail{
        width: 50%;
        float: left;
      }
    }
  }
  #timetable{
    .detail li>ul{
      margin-left: 60px;
    }
    @media all and (min-width:$break){
      width: 33.3%;
      float: right;
    }
  }
  #entry{
    h1{
      text-align: center;
      margin: 0.67em 0 1.1em;
    }
  }
}
footer{
  padding: 10px;
  font-size: 12px;
  color:$color-wht;
}
